@import url('https://fonts.googleapis.com/css?family-Nunito:wght@400;500; 600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(#4A55A2 0%, #7895CB 50%, #24243e 100%);
    margin: 0;
    padding: 0;
}

