@import url('https://fonts.googleapis.com/css?family-Nunito:wght@400;500; 600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(#4A55A2 0%, #7895CB 50%, #24243e 100%);
    margin: 0;
    padding: 0;
}

.mform {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#check-box {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}


label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    transition: .5s ease-in-out;
    margin: 60px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}

